.districtBorder {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  stroke-opacity: .2;
  pointer-events: none;
}

.stateBorder {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  pointer-events: none;
}
