.districtBorder {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  stroke-opacity: .2;
  pointer-events: none;
}

.stateBorder {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  pointer-events: none;
}

#infobox {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  border: #333 solid 2px;
}

body {
  font-family: 'Lucida Grande', sans-serif;
}
